<!DOCTYPE html>
<html>
  <head>
    <title>Rocksy and Truffles Blog!</title>
    <link rel="stylesheet" type="text/css" href="app/assets/styleheets">
  </head>
  <body>
    <H1>Hello and welcome to Rocksy and Truffles Blog!</H1>
    <p>Hi, I'm Rocksy! And I'm Truffles!</p>
    <p>We are being adopted on Tuesday and will be welcomed into our new home! We're very excited.</p>
        
    
  </body>
</html>
  
