<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="app/assets/styleheets">
  </head>
  <body>
    <h3>Hello, and welcome to learn to code!</h3>
    <div><img src="DSCN0117.JPG"></div>
  


  </body>
</html>
