<center><h1>Grey's Science Blog<br/>is coming soon</h1></center>
<p>The basic structure of an HTML document:</p>
<pre>
<code>&lt;html&gt;</code>
  <code>&lt;head&gt;</code>
  <code>&lt;/head&gt;</code>
  <code>&lt;body&gt;</code>
    <code>[stuff]</code>
  <code>&lt;/body&gt;</code>
<code>&lt;/html&gt; </code>
</pre>
