<!DOCTYPE html>
<html>
  <head>
    <title>Mothers day website </title>
    <link rel="stylesheet" type="text/css" href="app/assets/styleheets">
  </head>
  <body>
    <h1 style="color: red; font-family: Corsiva">I love you Mama!</h1>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/f4/71/c4/f471c46fd43b1d46857f32b6176b7aef.png">
    <ol>
      <li style="Color: blue; font-size: 30px">Things I love about you:</li>
        <ul>
          <li>You are loving and caring</li>
          <li>You care about everyone regardless of there gender or race</li>
          <li>You hate Donald Trump :)</li>
        </ul>
      <li>Things I want you to know!</li>
        <ul>
          <li>Ally and I love you with all our hearts, and we always will!</li>
          <li>I want you to know that I will help you when ever you need help.</li>
          <li>I hope you have the best mothers day ever!</li>
        </ul>
    </ol>
    <p style="font-size: 25px; font-family: impact">I love you sooooo much! You are the best, and only, mom I ever will have! I want to make this day as special as possible, so I am launching this website for you! After today, it can be about anything you want it to be about!</p>
    
  </body>
</html>
  
