<h1><center><p>Hello, welcome to your not alone. This is a nonprofit company to help people in need.</p></center><h1/>
<h4>My goal for Your Not Alone is to have enough money to donate to several differnt cuntries including guatimala, africa, and many more.</h4>
