<center><h1>Grey's Science Blog<br/>is coming soon</h1></center>
<map id ="atlas">
  <area shape ="rect" coords ="0,0,115,90" href ="northamerica.html" alt="North America" />
  <area shape ="poly" coords ="113,39,187,21,180,72,141,77,117,86" href ="europe.html" alt="Europe" />
  <area shape ="poly" coords ="119,80,162,82,175,102,183,102,175,148,122,146" href ="africa.html" alt="Africa" />
</map>
