<center><h1>Grey's Science Blog<br/>is coming soon</h1></center>
<center><h1>my name is Greyson</h1></center>
<center><h1>this is about cool science</h1></center>
<center><STRONG>SCIENCE!!!!:)</STRONG></center>
