<center><h1>Welcome to<br /> science blog</h1></center>
<p>Please email me your ideas to <em>me@greybyrom.com.</em></p>
<p>I would like to know the scientist in you. Please email me so you can see your ideas on the website.</p>
<p>When you email me your idea, users vote on the best idea!</p>
<center><h1>contest winners!!</h1></center>
