<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="app/assets/styleheets">
  </head>
  <body>
    <h3>Hello, and welcome to learn to code!</h3>
    <div><img src="http://avocaventures.com/wp-content/uploads/2014/11/lines-of-code.jpg"></div>
    <table>
        <thead>
          <tr>
            <th colspan="2">HTML structure</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          
          <td>Doctype html is the first part of the body</td>
          
          <td>1</td>
        
        </tr>
        
        <tr>
        
          <td>then comes the head tag</td>
        
          <td>2</td>
        
        </tr>
        
        <tr>
          
          <td>This is were you put the info and link to css!</td>

          <td>3</td>

        </tr>
          
          <td>Then there's the body</td>

          <td>4</td>

        </tr>

        <tr>

          <td>Content!</td>

          <td>5</td>

        </tr>

        <tr>
          
          <td>Finally, the closing html tag!</td>

          <td>6</td>

        </tr>
        </tbody>
    </table>
  


  </body>
</html>
