<center><h1>Grey's Science Blog<br/>is coming soon</h1></center>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="someplace/swflash.cab" width="200" height="300" id="penguin">
  <param name="movie" value="flash/penguin.swf" />
  <param name="quality" value="high" />
  <img src="images/penguin.jpg" width="200" height="300" alt="Penguin" />
</object>
