<!DOCTYPE html>
<html>
  <head>
    <title>Mothers day website </title>
    <link rel="stylesheet" type="text/css" href="app/assets/styleheets">
  </head>
  <body>
    <h1 style="color: red; font-family: Corsiva">I love you Mama!</h1>
    <ol>
      <li style="Color: blue; font-size: 30px">Things I love about you:</li>
        <ul>
          <li>You are loving and caring</li>
          <li>You care about everyone regardless of there gender or race</li>
          <li>You hate Donald Trump :)</li>
        </ul>
    </ol>
    
  </body>
  
